@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background:#040404;
	font-family: 'Fira Sans', sans-serif;
}

header {
  position: relative;
  background-color: #1d2023;
  height: 95vh;
  min-height: 25rem;
  overflow: hidden;
  margin-bottom: 6vh;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.header-promos {
    background: url(assets/promos.jpg);
    width: auto;
    background-position: 0 -393px;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('assets/header.jpg') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}


.separador {
    width: 100%;
    height: 5px;
    background: rgba(255,255,255,0.1);
    margin: 5vh 0;
}

.btn {
   border: 0px;
    font-family: 'big_noodle_titling', sans-serif;
    font-size: 3.5vw;
    color: rgb(255, 255, 255);
    padding: 0.5% 6%;
    transition: 600ms;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: rgb(29, 113, 184);
    --hover-borderSize: 0px;
    --hover-bgc: #198ae6;
    --hover-color: #ffffff;
    margin: 0 1vw;
}

.btn:hover{
color: rgb(255, 255, 255);
background: rgb(25, 138, 230) none repeat scroll 0% 0% / auto padding-box border-box;
border-color: rgb(204, 0, 105);
border-width: 0px;
border-style: solid;
}

.btn-links {
    border: 0px;
    font-family: 'big_noodle_titling', sans-serif;
    font-size: 3.5vw;
    color: rgb(255, 255, 255);
    padding: 1% 1%;
    transition: 1180ms;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    width:max-content;
    background: rgb(29, 113, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    --hover-borderSize: 0px;
    --hover-bgc: #198ae6;
    --hover-color: #ffffff;
    margin: 0 1vw;
}

.container-cartas {
    z-index: 1;
    position: relative;
    text-align: center;
    max-width:100%;
}

.container-header {
    z-index: 1;
    position: relative;
    text-align: center;
    max-width:100%;
}

.container-botones {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.container-botonesl {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.container {
    flex: 0 auto;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    text-align-last: center;
}

.w-container:before, .w-container:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.cartas-titulo {
    font-size: 17vw;
    line-height: .8em;
}

.links-titulo {
    font-size: 16vw;
    line-height: .8em;
    margin-top: 3vh;
}

.wrapper{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper .wrapper__video{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.titulos {
	background: #ec0075;
    padding: 1% 3%;
    width: fit-content;
    margin: 0;
    border-radius: 15px;
}

.hoja {
	background:#fff;
	width:100%;
	padding: 3% 4%;
	border-radius: 15px 15px 0 0;
}

.mb-10 {
  margin-bottom: ($spacer * 2.25) !important;
}

.mt-10 {
	margin-top: ($spacer * 2.25) !important;
}

h2 {
    margin: 0 auto;
    padding: 0;
    font-family: 'bignoodletitling', sans-serif;
    font-size: xxx-large;
    font-weight: 300;
	color:#000;
	border-bottom: 4px solid #000;
}

h4 {
	font-family: 'Fira Sans', sans-serif;
	color:#222;
	margin-top: 1em;
	font-size: larger;
	text-align: left;
	font-weight: 300;
	letter-spacing: -0.3;
}

.sep {
	border-bottom: 2px solid #000;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.card-img-top {
  display: block;
  max-width:100%;
  max-height:fit-content;
  width: auto;
  height: auto;
}

@media screen and (max-width: 991px) {

    .separador {
    height: 4px;
    margin: 2vh 0;
}

.btn {
   font-size: 5vw;
}

.btn-links {
   font-size: 5vw;
}

.links-titulo {
    margin-top: 1vh;
}
